#### find the smallest number in a list, the double of which is also in the list

id there is no such number, return 0

> ```[1, 3, 7, 6, 15, 12, 20, 2] -> 3```

(as 6 is also in the list)

In [1]:
from jkg_evaluators import smallest_where_double_also

In [41]:
def find_smallest_where_double(list_of_numbers):
    szamok = sorted(list_of_numbers)
    eredmeny = []
    for i in szamok:
        x = i*2
        for z in szamok:
            if z == x:
                eredmeny.append(i)
    if eredmeny != []:
        return(eredmeny[0])
    else: 
        return 0

In [42]:
smallest_where_double_also.evaluate(find_smallest_where_double)

- success rate: 497/497 (100.0%)
- error count: 0
- best performance: 1
- worst performance: 1
- mean performance: 1.0