In [222]:
tiszta_anyad = list()
for szam in anyad:
    tiszta_anyad.append(float(szam.replace("\n","")))

In [220]:
import pandas as pd
with open("input.txt") as anyad:
    anyad = anyad.readlines()
tiszta_anyad = pd.Series(anyad).str.replace("\n","").astype(int).to_list()

In [221]:
szar = sum (float(suly//3-2) for suly in tiszta_anyad)
     
print (szar)

3511949.0